// Шрифт браузера по умолчанию (для emizer)
$default-browser-font-size: 16px;

// Цвета
$white:                     #FFFFFF;
$black:                     #1D1D1F;
$grey:                      #ECEDF2;
$lightGrey:                 #F6F7F9;
$darkGrey:                  #67676C;
$blue:                      #271291;
$purple:                    #4F0F76;
$red:                       #E20613;
$darkRed:                   #C0082A;
$lime:                      #8ECB2A;

$temp:                      #C0C0C0; // Служебный фон

// Шрифты
$InterTight-400:            "InterTight-400", Arial, sans-serif;
$InterTight-500:            "InterTight-500", Arial, sans-serif;
$InterTight-600:            "InterTight-600", Arial, sans-serif;
$InterTight-700:            "InterTight-700", Arial, sans-serif;

// Переходы анимации
$button:                   0.1s ease;
$navButton:                0.2s ease;