// Шрифт браузера по умолчанию (для emizer)
$default-browser-font-size: 16px;

// Цвета
$accent:                    #FF1616;
$vulcan:                    #051326;
$milk:                      #F7F7F8;
$grey:                      #CACAD0;
$lightGrey:                 #EEEFF0;
$darkGrey:                  #8A8A99;

$temp:                      #C0C0C0; // Служебный фон

// Шрифты
$Roboto400:                "Roboto-400", Arial, sans-serif;
$Roboto700:                "Roboto-700", Arial, sans-serif;
$Raleway400:               "Raleway-400", Arial, sans-serif;
$Raleway700:               "Raleway-700", Arial, sans-serif;

// Переходы анимации
$buttons:                   0.1s ease;
$navButtons:                0.2s ease;