/* ======= canvi-mobile-navbar START ======= */
.canvi-content {
    z-index: 0;
}
.canvi-overlay {
    top: -46px;
    background: rgba(39, 18, 145, 0.35);
    backdrop-filter: blur(5px);
}
.canvi-navbar {
    overflow: visible;
    border-right: 60px solid rgba(255, 255, 255, 0);
    background-clip: padding-box;
}
.canvi-navbar__close-button-cross {
    fill: $blue;
    transition: fill $button;
}
.canvi-navbar__close-button {
    position: absolute;
    top: 22px;
    right: -48px;
    width: 36px;
    height: 36px;
    z-index: 1;
    &:hover .canvi-navbar__close-button-cross {
        fill: $red;
    }
}
.canvi-navbar__layout {
    padding: 16px 0 70px 12px;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.canvi-navbar__layout::-webkit-scrollbar {
    width: 3px; /* ширина scrollbar */
}
.canvi-navbar__layout::-webkit-scrollbar-track {
    background: $grey; /* цвет дорожки */
}
.canvi-navbar__layout::-webkit-scrollbar-thumb {
    background-color: $blue; /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
}
.canvi-navbar__logo {
    margin-bottom: 3px;
    width: 120px;
    height: 33px;
}
.canvi-navbar__title {
    margin-bottom: 25px;
    max-width: 180px;
    color: $black;
    font-family: $InterTight-500;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.25;
}
.canvi-navbar__menu {
    margin-bottom: 46px;
    padding-left: 22px;
    padding-right: 30px;
}
.canvi-navbar__menu li {
    margin-bottom: 19px;
    &:last-child {
        margin-bottom: 0;
    } 
}
.canvi-navbar__menu li a {
    color: $blue;
    font-family: $InterTight-400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.25;
}
.canvi-navbar__menu li a.canvi-navbar__menu-dropdown-link {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -18px;
        transform: translateY(-50%);
        border: 5px solid transparent; 
        border-left: 5px solid $blue;
        transition: all 0.3s ease-out;
    }
}
.canvi-navbar__menu li a.canvi-navbar__menu-dropdown-link--is-active {
    &:before {
        transform: rotate(90deg);
    }
}
.canvi-navbar__submenu {
    display: none;
}
.canvi-navbar__submenu--is-active {
    display: block;
}
.canvi-navbar__submenu li {
    margin-bottom: 22px;
    &:first-child {
        padding-top: 22px;
    }
    &:last-child {
        margin-bottom: 0;
    } 
}
.canvi-navbar__submenu li a {
    display: block;
    color: $black;
    font-family: $InterTight-500;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.25;
    transition: $button;
    &:hover {
      color: $blue;
    }
}
.canvi-navbar__phone-block {
    margin-bottom: 28px;
}
.canvi-navbar__phone-text {
    margin-bottom: 2px;
    margin-left: 11px;
    position: relative;
    color: $black;
    font-family: $InterTight-500;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.25;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -11px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $lime;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.canvi-navbar__phone {
    display: block;
    margin-bottom: 12px;
    color: $black;
    font-family: $InterTight-700;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.25;
}
.canvi-navbar__recall-link {
    display: inline-block;
    color: $blue;
    font-family: $InterTight-500;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.25;
    line-height: 1;
    border-bottom: 1px dashed $blue;
}
.canvi-navbar__social-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin-bottom: 28px;
}
.canvi-navbar__whatsapp-icon {
    width: 36px;
    height: 36px;
}
.canvi-navbar__telegram-icon {
    width: 36px;
    height: 36px;
}
.canvi-navbar__email-block {
    padding-left: 11px;
}
.canvi-navbar__email-text {
    margin-bottom: 2px;
    position: relative;
    color: $black;
    font-family: $InterTight-500;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.25;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -11px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $lime;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.canvi-navbar__email {
    display: block;
    color: $blue;
    font-family: $InterTight-500;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.25;
}
/* ======= canvi-mobile-navbar END ======= */