/* ======= footer START ======= */
.footer {
  padding: 40px 0 100px 0;
  background-color: $black;
}
.footer__top-block-layout {
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer__top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__logo-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  max-width: 200px;
}
.footer__logo {
  width: 164px;
  height: 45px;    
}
.footer__logo-subtext {
  color: $white;
  font-family: $InterTight-500;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.25;
}
.footer__made-by-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0 19px;
  max-width: 200px;
}
.footer__made-by-text {
  padding-top: 14px;
  color: $white;
  font-family: $InterTight-400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0;
}
.footer__made-by-logo {
  width: 73px;
  height: 40px;
}
.footer__contacts-block {
  max-width: 300px;
  text-align: right;
}
.footer__contacts-text {
  display: inline-block;
  position: relative;
  margin-bottom: 2px;
  color: $white;
  font-family: $InterTight-400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $lime;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.footer__contacts-phone {
  display: inline-block;
  margin-bottom: 10px;
  color: $white;
  font-family: $InterTight-600;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0;
}
.footer__contacts-address {
  display: inline-block;
  color: $white;
  font-family: $InterTight-400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0;
}
.footer__bottom-block-layout {
  padding-top: 45px;
}
.footer__nav-menu {
    display: grid;
    grid-template-areas:
        "pneumatic-mail services projects"
        "about farm-logistics projects"
        "blog farm-logistics projects";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    column-count: auto;
}
.footer__nav-menu-item {
  margin-bottom: 45px;
}
.footer__nav-menu-item-title {
  margin-bottom: 10px;
}
.footer__nav-menu-item-title-link {
  color: $white;
  font-family: $InterTight-700;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.25;
  text-transform: uppercase;
  transition: $button;
  &:hover {
    color: $white;
  }
}
.footer__nav-menu-item-list-item {
    line-height: 1;
    margin-bottom: 6px;
    break-inside: avoid;
    &:last-child {
      margin-bottom: 0;
    }
}
.footer__nav-menu-item-list-item-link {
  display: inline-block;
  color: $white;
  font-family: $InterTight-400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: inherit;
  transition: $button;
  &:hover {
    color: $white;
  }
}
.footer__nav-menu-item--pneumatic-mail {
  grid-area: pneumatic-mail;
}
.footer__nav-menu-item--about {
  grid-area: about;
}
.footer__nav-menu-item--blog {
  grid-area: blog;
}
.footer__nav-menu-item--services {
  grid-area: services;
}
.footer__nav-menu-item--farm-logistics {
  grid-area: farm-logistics;
}
.footer__nav-menu-item--projects {
  grid-area: projects;
}
.footer__nav-menu-item--blog, .footer__nav-menu-item--farm-logistics {
  margin-top: -45px;
  margin-bottom: 0;
}
/* ======= footer Media START ======= */
@include media-breakpoint-down(xxl) {
  .footer {
    padding: 45px 0 85px 0;
  }
}

@include media-breakpoint-down(xl) {
  .footer {
    padding: 45px 0 65px 0;
  }
  .footer__nav-menu-item-list-item {
    line-height: 1.25;
  }
}

@include media-breakpoint-down(lg) {
  .footer {
    padding: 40px 0 45px 0;
  }
  .footer__top-block {
    flex-direction: column;
    gap: 45px
  }
  .footer__contacts-block {
    text-align: left;
  }
  .footer__contacts-text {
    margin-left: 14px;
  }
  .footer__made-by-block {
    justify-content: flex-start;
  }
  .footer__made-by-block {
    order: 3;
  }
  .footer__contacts-block {
    order: 2;
  }
  .footer__contacts-phone {
    margin-bottom: 8px;
  }
  .footer__contacts-text:before {
    left: -14px;
  }
  .footer__nav-menu {
    grid-template-areas:
        "pneumatic-mail farm-logistics"
        "about projects"
        "blog projects"
        "services projects";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 20px;
  }
  .footer__nav-menu-item--blog {
    margin-top: -125px;
  }
  .footer__nav-menu-item--farm-logistics {
    margin-top: 0;
  }
  .footer__nav-menu-item--projects {
    margin-top: -65px;
  }
  .footer__nav-menu-item--services {
    margin-top: -60px;
  }
}

@include media-breakpoint-down(md) {
  .footer {
    padding: 40px 0 85px 0;
  }
  .footer__nav-menu {
    grid-template-areas:
        "pneumatic-mail"
        "about"
        "blog"
        "services"
        "farm-logistics"
        "projects";
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .footer__nav-menu-item--blog {
    margin-top: 0;
  }
  .footer__nav-menu-item--farm-logistics {
    margin-top: 0;
  }
  .footer__nav-menu-item--projects {
    margin-top: 0;
  }
  .footer__nav-menu-item--services {
    margin-top: 0;
  }
  .footer__nav-menu-item {
    margin-bottom: 45px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer__nav-menu-item--about {
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(sm) {
  .footer__top-block-layout {
    padding-bottom: 30px;
  }
  .footer__made-by-text {
    text-align: right;
  }
  .footer__made-by-block {
    position: relative;
    gap: 0 40px;
  }
  .footer__made-by-logo {
    position: absolute;
    top: -3px;
    right: 30px;
  }
}
/* ======= footer Media END ======= */
/* ======= footer END ======= */