/* ======= promo START ======= */
.promo {
    position: relative;
    // margin-top: -46px; // Включить если не будет Canvi mobile menu
    background-image: linear-gradient(rgba(24, 7, 111, 0.5), rgba(24, 7, 111, 0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.promo__video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    pointer-events: none;
    z-index: -1;
}

.promo__layout {
    padding-top: 172px;
    padding-bottom: 98px;
    color: $white;
}

.promo__title-block {
    position: relative;
    margin-bottom: 28px;
    max-width: 780px;
}

.promo__title {
    font-family: $InterTight-700;
    font-size: 84px;
    line-height: 0.82;
}

.promo__warranty {
    position: absolute;
    top: -46px;
    left: 203px;
    transform: rotate(14deg);
    display: flex;
    gap: 0 12px;
    padding: 15px 30px;
    width: 275px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(39, 18, 145, 0.20);
    backdrop-filter: blur(10px);
}

.promo__warranty-icon {
    width: 33px;
    height: 35px;
}

.promo__warranty-text {
    font-family: $InterTight-400;
    font-size: 18px;
    line-height: 1;
    color: #FFF;
}

.promo__warranty-text--700 {
    font-family: $InterTight-700;
}

.promo__promo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 85px;
    max-width: 540px;
}

.promo__promo-list-item {
    padding: 2px 22px;
    font-family: $InterTight-400;
    font-size: 20px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.promo__cta-button {
    display: inline-block;
    padding: 30px 36px;
    margin-bottom: 80px;
    border-radius: 100px;
    background-color: $red;
    text-transform: uppercase;
    font-family: $InterTight-700;
    font-size: 20px;
    color: $white;
    transition: $button;
    &:hover {
      color: $white;
      background-color: $darkRed;
    }
    &:active {
        background-color: $purple;
    }
}

.promo__advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 145px;
}

.promo__advantages-list-item {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0 17px;
}

.promo__advantages-list-item-image {
    width: 24px;
    height: 24px;
}

.promo__advantages-list-item-text {
    font-family: $InterTight-400;
    font-size: 20px;
    line-height: 1.2;
}

.promo__advantages-list-item-text--700 {
    font-family: $InterTight-700;
}

/* ======= promo Media START ======= */
@include media-breakpoint-down(xl) {
    .promo__layout {
        padding-bottom: 110px;
    }

    .promo__advantages-list {
        gap: 30px 30px;
    }

    .promo__advantages-list-item {
        gap: 0 15px;
    }

    .promo__promo-list {
        margin-bottom: 65px;
    }
}

@include media-breakpoint-down(lg) {
    .promo__layout {
        padding-top: 150px;
    }

    .promo__title {
        font-size: 64px;
        line-height: 1;
    }

    .promo__warranty {
        position: absolute;
        top: -11px;
        left: 240px;
    }

    .promo__promo-list {
        margin-bottom: 45px;
    }

    .promo__cta-button {
        margin-bottom: 45px;
    }
}

@include media-breakpoint-down(md) {
    .promo__layout {
        padding-top: 115px;
    }

    .promo__title {
        font-size: 48px;
        line-height: 1.25;
    }

    .promo__warranty {
        top: -22px;
        left: 187px;
    }

    .promo__promo-list {
        margin-bottom: 30px;
        gap: 10px 5px;
    }

    .promo__promo-list-item {
        font-size: 17px;
    }

    .promo__cta-button {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    .promo__advantages-list {
        flex-direction: column;
        gap: 0;
    }

    .promo__advantages-list-item {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-down(sm) {
    .promo__layout {
        padding-top: 150px;
        padding-bottom: 60px;
    }

    .promo__title {
        font-size: 33px;
        line-height: 1.25;
    }

    .promo__warranty {
        top: -57px;
        left: 44px;
    }

    .promo__promo-list {
        margin-bottom: 45px;
    }

    .promo__promo-list-item {
      font-size: 15px;
    }

    .promo__cta-button {
        margin-bottom: 45px;
        padding: 20px 35px;
        font-size: 17px;
        line-height: 1.2;
    }

    .promo__advantages-list-item-text {
        font-size: 15px;
    }
}
/* ======= promo Media END ======= */
/* ======= promo END ======= */