/* ======= services START ======= */
.services__layout {
  padding: 120px 0 120px 0;
  background-color: $temp;
}

.services__title {
  margin-bottom: 60px;
  color: $black;
  font-family: $InterTight-700;
  font-size: 45px;
  letter-spacing: 0;
}

.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}

.services__list-item {
  position: relative;
  padding: 110px 20px 20px 20px;
  width: 305px;
  border-radius: 20px;
  background-color: $white;
}

.services__list-item-link {
  display: block;
}

.services__list-item-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
}

.services__list-item-text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services__list-item-text-title {
  color: $black;
  font-family: $InterTight-600;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 1.25;
}

.services__list-item-text {
  color: $black;
  font-family: $InterTight-400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.25;
} 

.services__list-item-square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: $grey;
}

.services__list-item-square-arrow {
  width: 14px;
  height: 14px;
  transition: fill $button;
}




/* ======= services END ======= */