/* ======= solution START ======= */
.solution__layout {
  padding: 100px 0 100px 100px;
  border-radius: 20px;
  background-image: url("../img/@2x/solution-bg@2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.solution__title {
  max-width: 710px;
  margin-bottom: 60px;
  font-family: $InterTight-400;
  font-size: 36px;
  letter-spacing: 0;
  color: $black;
  line-height: 1.25;
}

.solution__title--700 {
  font-family: $InterTight-700;
}

.solution__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 425px;
}

.solution__form-label {
  font-family: $InterTight-400;
  font-size: 16px;
  letter-spacing: 0;
  color: $black;
}

// .solution__form-input {

// }

// .solution__form-button {
  
// }

.solution__form-agreement {
  font-family: $InterTight-400;
  font-size: 12px;
  color: $black;
  letter-spacing: 0;
  line-height: 1.25;
}

.solution__form-agreement-link {
  color: $blue;
  transition: $button;
  &:hover {
    color: $blue;
    border-bottom: 1px solid $blue;
  }
  &:active {
    color: $purple;
  }
}

/* ======= solution END ======= */