/* ======= stages START ======= */
.stages__layout {
  padding: 105px 0 105px 0;
}

.stages__title {
  margin-bottom: 55px;
  color: $black;
  font-family: $InterTight-400;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 1.25;
}

.stages__title--700 {
  font-family: $InterTight-700;
} 

.stages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.stages__list-item {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 0 31%;
  border-radius: 20px;
  border: 2px solid $grey;
}

.stages__list-item-left-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 15px 15px 15px 15px;
  border-right: 2px solid $grey;
}

.stages__list-item-left-block-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12px;
  left: -12px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $blue;
  color: $white;
}

.stages__list-item-right-block {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 100px;
  padding: 21px 30px 21px 15px;
}

.stages__list-item-left-block-image {
  width: 70px;
  height: 70px;
}

.stages__list-item-right-block-text {
  color: $black;
  font-family: $InterTight-600;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1.15;
}
.stages__list-item-right-block-text--400 {
  font-family: $InterTight-400;
}

/* ======= stages Media START ======= */
@include media-breakpoint-down(xxl) {
  .stages__layout {
    padding: 85px 0 85px 0;
  }
  .stages__list-item-right-block {
    padding: 21px 0px 21px 10px;
  }
  .stages__list-item-right-block-text {
    font-size: 23px;
  }
}

@include media-breakpoint-down(xl) {
  .stages .container {
    padding: 0;
  }
  .stages__list-item-right-block-text {
    font-size: 24px;
  }
  .stages__list-item-right-block {
    padding: 21px 30px 21px 15px;
  }
  .stages__list {
    gap: 40px 55px;
  }
  .stages__title {
    margin-bottom: 45px;
  }
  .stages__list {
    gap: 30px;
  }
  .stages__list-item-right-block-text {
    max-width: 270px;
  }
}

@include media-breakpoint-down(lg) {
  .stages__list-item {
    flex: 1 0 calc(100% - 12px);
  }
}

@include media-breakpoint-down(md) {
  .stages__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@include media-breakpoint-down(sm) {
      .stages .container {
          padding-right: calc(var(--bs-gutter-x) * 0.5);
          padding-left: calc(var(--bs-gutter-x) * 0.5);
          margin-top: var(--bs-gutter-y);
      }
      .stages__list-item {
        flex: auto;
      }
      .stages__list-item-right-block-text {
        font-size: 19px;
      }
      .stages__list-item-right-block-text--fs-14 {
        font-size: 14px;
      }
}
/* ======= stages Media END ======= */
/* ======= stages END ======= */